.list-group{
  margin-top: 20px;
  padding: 15px;
  background-color: #dfe6e9;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}